<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    {{>nav}}
    <div class="main-content">
        {{>header}}
        <main>
            {{>info}}
            <!--vvvvvvvvvvvvvvvv-->
            <div class="recent-gridd">
                <div class="orders">
                    <div class="card">
                        <div class="card-header">
                            <h3> Stock Items List</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <td>Item name</td>
                                            <td>Type</td>
                                            <td>Price</td>
                                            <td>Quantity</td>
                                            <td>Action</td>
                                            <td> </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><img src="/img/coffee.png" width="150px" height="130px" alt=""><span>
                                                    <h2>Coffee</h2>
                                                </span></td>
                                            <td>Veg</td>
                                            <td>$20</td>
                                            <td><input type="text" value="5" required></td>

                                            <td><a href="update.html"><button class="button button1"
                                                        onclick="myFunction()">Update</button></a>
                                                <a href="delete.html"> <button class="button button2"
                                                        onclick="myFunction()">Delete</button></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>


</body>

</html>