<header>
  <div class="header-title">
    <h2>
      <label for="nav-toggle">
        <span class="las la-bars"></span>
      </label>
      {{page}}
    </h2>
  </div>
  <div class="user-wrapper">
    <div>
      <h4>{{currUser.name}}</h4>
      <small>{{currUser.type}}
      </small>
    </div>
  </div>
</header>